# Compiled Object files.
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries.
*.so
*.dylib
*.dll

# Compiled Static libraries.
*.lai
*.la
*.a
*.lib

# Executables.
*.exe
*.out
*.app

# Other files.
*.autosave
*.user*
localization/*qm
*.TMP
resources/skins/*/*.map

# Build directory.
build*

.qtc_clangd

# Inkbox user apps
*.isa
*.isa.dgst
inkbox_userapp/rssguard/app-bin/*.bin
inkbox_userapp/rssguard/app-lib/librssguard.so
# just to be sure...
*.pem
